body {
/*background-image:url("welcome.JPG");*/
}

.grid {
    width: 600px;
    height: 550px;
    margin: 0 auto;
    padding: 10px 50px 50px 50px;
    border-radius: 50px;
    border: 2px solid #cbcbcb;}

#logout{
    width: 100px;
    font-size: 20px;
    border: 0px solid #fff;
    border-radius: 50px;
    margin-left: 1200px;
    padding: 10px 10px;

}
#btn{
    width: 200px;
    font-size: 20px;
    border: 1px solid #1D3C6A;
    border-radius: 50px;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
}

#btn0{
    width: 350px;
    font-size: 20px;
    border: 1px solid #1D3C6A;
    border-radius: 50px;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
}

.buttons {
    margin-top: 125px;
}


#btn:hover, #logout:hover{
    cursor: pointer;
}

#btn:focus, #logout:focus {
    outline: 0;
}

.grid h1 {
    font-family: "sans-serif";
    font-size: 60px;
    text-align: center;
    color: #16a085;
    padding: 2px 0px;
    border-radius: 50px;
body {
background-image:url("c15.JPG");
}

.grid {
    width: 600px;
    height: 800px;
    margin: 0 auto;
    padding: 10px 50px 50px 50px;
    border-radius: 50px;
    border: 2px solid #cbcbcb;
}

#score {
    color: #FFFFFF;
    text-align: center;
    font-size: 30px;
}

.grid #question {
    font-family: "monospace";
    font-size: 30px;
    color: #FFFF;
}

.buttons {
    margin-top: 30px;
}

#btn0, #btn1, #btn2, #btn3 {
    width: 250px;
    font-size: 20px;
    border: 1px solid #1D3C6A;
    border-radius: 50px;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
    cursor: pointer;
}

#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus {
    outline: 0;
}

#progress {
    color: #FFFF;
    font-size: 18px;
}
#logout{
    width: 100px;
    font-size: 20px;
    border: 0px solid #fff;
    border-radius: 50px;
   /* margin: 10px 0px 10px 0px;*/
    margin-left: 1200px;
    padding: 10px 10px;

}